*{
    box-sizing: border-box;
    font-family: NotoSans, NotoSerif, Matterhorn, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
/* //Nav Bar  */
.logo-img{
    padding-top: 7px;
    width:90px;
}
.nav-bar{
    background: #ffffff;
    height:10vh;
}
.nav-item{
    display: inline;
    vertical-align: middle;
    
}
.ham-icon-btn{
    display: none;
}
.nav-item-link{
    color: rgb(0, 0, 0);
    font-family: NotoSans, NotoSerif, Matterhorn, Helvetica, sans-serif;
    font-size: smaller;
    font-style: normal;
    font-weight: bold;
    padding: 15px;

}
/* //hover nav  */
.parks{

}
.hover-nav{
    visibility: hidden;
    position: absolute;
}
.parks-hover-nav-bar{
    display: inline-block;
    background-color: #02090f;
    vertical-align: middle;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 0;
}
.parks-hover-nav-item{
    display: inline-block;
    margin: 0 9px;
}
.parks-hover-nav-item> a{
    color: #e5e3e3;
    padding: 0 12px;
}
/* //container images carosel */
.container{
    margin-bottom: 10px;
}
.container-img{
    height:auto;
    max-width: 100%;
}
/* //Shop Cards */
.cards-box{
    /* background-color: #535353; */
    /* border: 2px solid red; */
    color: #fff;
    margin: 18px 0;
}
.box-card-item{
    /* border: 2px solid blue; */
    display: inline-block;
    position: relative;
    text-align: center;
    padding: 0 3px;
}
.gradiant{
    background: linear-gradient(to bottom, rgba(0,0,0,0) 68%, rgba(0,0,0,1));
    height: 23rem;
    width: 288px;
    position: absolute;
    margin: 7px;
}
.img-box{
    max-width: 100%;
    margin: 0 3px;
    padding: 1px;
}
.box-card-img{
    width: 288px;
    height: 23rem;
    object-fit: cover;
}
.card-text{
    position: absolute;
    bottom: 21px;
    left: 48px;
    padding: 0 32px;
    margin: 16px 0px 0;
}
.card-title{
    /* font-size: larger; */
}
.shop-now{
    font-weight: 600;
    margin-top: 20px;
} 
/* 
*/
/* //feature ads  */
.feature-ads{
    background-color: #eee;
    text-align: center;
}
.feat-lable{
    text-align: start;
    font-weight: 400;
    font-size: 30px;
    margin-left: 32px;
    margin: 0 0 0 33px;
    padding-top: 8px;
}
.feat-ad{
    width: 576px;
    display: inline-block;
    padding: 22px;
}
.feat-img-box{

}
.feat-img{
    height: fit-content;
    max-width: 100%;
    height: 50%;
    margin: 20px 0;
}
.feat-text{
    height: 16vh;
    text-align: start;
    padding: 0 14px;
    margin-left: 15px;
}
.feat-text a{
    color: black;
}
.feat-name{
    font-size: larger;
    word-spacing: 4px;

}
.feat-desc{
    padding: 6px 0;
    font-size: 15px;
}
.d1{
    visibility: hidden;
}
/* ---------------- */

/* ///Holidays */
.disney-holidays{
    /* border: 2px dotted red; */
    background-color: #eee;
    padding: 16px 40px;
}
.holiday-lable{
    text-align: start;
    font-weight: 400;
    font-size: 30px;
    margin-left: 32px;
    margin: 0 0 0 0;
    padding: 22px 0px;

}
.holiday-cards{
    /* border: 2px solid blue; */
    display: inline-block;
    width: 33%;
    text-align: center;
}
.holiday-img{
    max-width: 100%;
    height: 432px;
    object-fit: cover;
    padding: 0 8px;
}
.holiday-info{
    /* border: 2px solid green; */
    
}
.holiday-name{
    font-size: 20px;
    padding: 16px;

}
.holiday-desc{
    font-weight: bold;
    padding: 0px;
    font-size: small;
}
/* ---------------- */

/* //More from Disny  */
.more{
    /* border: 2px solid red; */
    background-color: #eee;
    text-align: center;
    display: inline-block;
    width: 100%;
    padding: 0px 32px 32px;
}
.more-lable{
    text-align: start;
    font-weight: 400;
    font-size: 30px;
    

}
.more-ad{
    
    /* border: 2px dotted blue; */
    text-align: start;
    width: 576px;
    display: inline-block;
    padding: 22px 0;
}
.more-img-box{
    
}
.more-img{
    max-width: 100%;
    height: 50%;
    padding: 8px 16px 8px 0px;
}
.more-name{
    font-size: larger;
    word-spacing: 4px;
    margin-left: 10px;
    padding: 17px;
}
.more-text{
    height: 15vh;
    text-align: start;
    padding: 0 14px;
    margin-left: 0;

}
.more-desc{
    height: 55vh;
    text-align: start;
    padding: 0 14px;
    margin-left: 15px;
    
}
.more-channel{
    font-weight: 600;
    font-size: small;
}

/* --------------- */

/* //footer  */
.foot-nav{
    padding: 32px;
}
.foot-nav-bar{
    display: inline-block;
}
.foot-nav-item{
    display:inline-block ;
}
.foot-item-link{
    color: black;
    padding: 25px;
    vertical-align: middle;
    font-size: smaller;
    font-weight: 600;
}
.socials{
    /* position: relative; */
    float: right;
}
.social-icon{
    display: inline;
    padding: 8px;
}
.icon-img{
    height: 2rem;
    width: 32px;
}
.logo{
    display: block;
    margin: auto;
}
.links{
    font-size:12px;
    padding: 16px;
}
.links >a{
    color: #464545fa;
    padding: 6px;
    font-size: small;
    display: inline-block;
}
.rights{
    color: #464545fa;
    font-size: 12px;
    margin: 0px 0 32px 0;
}
.text-center{
    text-align: center;
}
a{
    text-decoration: none;
    
}
li{
    list-style: none;
}
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* For ? */
@media only screen and (min-width: 768px) {
  [class*="col-"] {
    width: 100%;
  }
  footer{
    display: block;
    text-align: center;
    clear: both;
  }
}
/* for Mobiles */
@media screen and (max-width:415px) {
    .nav-item{
        display: none;
    }
    .nav-logo{
        display: block;
        text-align: center;
    }
    .ham-icon-btn{
        display: block;
        float: left;
        background: none;
        border: none;
        padding: 0.5rem;
        cursor: pointer;
    }
    .ham-icon{
        height: 2rem;
        width: 2rem;
        
    }
    .container{
        width: 100%;
    }
    .cards-box{
        text-align: center;
        padding: 5px;
    }
    .box-card-img{
        max-width: 100%;
        height: fit-content;
    }
    .card-text{
        color: #02090f;
        position: initial;
    }
    .feat-ad{
        width: 100%;
        padding: 5px;
        display: inline-block;
    }
    .disney-holidays{
        display: inline-block;
    }
    .holiday-cards{
        width: 100%;
        padding: 12px 0;
    }
    .holiday-img{
        max-width: 100%;
        height: auto;
    }
    .gradiant{
        display: none;
    }
    .feat-text{
        height: auto;
    }
    .d1{
        display: none;
    }
    .more-ad{
    max-width: 100%;
    }
    .more-desc{
        height: 15vh;
    }
    .foot-nav{
        display: block;
        margin: auto;
        text-align: center;

    }
    .foot-nav-item{
        display: block;
        padding: 12px;
    }
    .socials{
        float: none;
        padding: 12px;
    }

}
